# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.reference/

# Jekyll
_includes/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# etc
**/속성/
*/속성/
**/직업/
*/직업/
**/코드/
*/코드/
**/png/
*/png/
**/name_kr/
*/name_kr/
/assets/js/_lock.js
data/kr/wonder/*source*.html
data/kr/wonder/persona_skills_en_source.json
_index_backup.html

# OS
.DS_Store
Thumbs.db 

#node_modules
node_modules
node_modules/**
명령어

fetch-api.sh
fetch-api.mjs
fetch-persona.mjs
/data/external/persona/*

#not yet
rating.py
*/dmg-calc/
*/dmg-calc/*
/assets/js/dmg-calc/
/assets/js/dmg-calc/*


