# 이미지 원본
/img/character-cards/속성/
/img/character-cards/직업/
/img/character-cards/코드/
/img/character-detail/png/
/img/tier/png/
/img/revelation/계시/
/img/revelation/name_kr/
/img/wonder-weapon/png/
/img/persona/png/

/text.html
resize_img.py
**/resize_img.py

# 템플릿 파일
/template/

localweb.bat
run.py

data/character_skill_10+5.py
data/character_skills_backup.js
