# 캐릭터 카드 이미지 원본
/img/character-cards/속성/
/img/character-cards/직업/
/img/character-cards/코드/

# 캐릭터 상세 이미지 원본
/img/character-detail/png/

# 계시 이미지 원본
/img/revelation/계시/
/img/revelation/name_kr/

# 원더 무기 이미지 원본
/img/wonder-weapon/png/

/text.html
**/resize image.py