/*이미지별 크기 조절*/

/* 1명 배너 기본값 - 개별 설정이 없는 경우 */
.char-img.single-banner {
  right: 30%;
  top: 77%;
  transform: translateY(-50%) scale(1.65);
  scale: 1.1;
}

@media (max-width: 768px) {
  .char-img.single-banner {
    transform: translateY(-60%) scale(2.5) !important;
    right: 15% !important;
  }
}

.char-img.middle[alt*="유카리"] {
  transform: translateY(-50%) scale(1.25) !important;
  right: 14% !important;
}

/*카스미*/
.char-img.single-banner[src*="%EC%B9%B4%EC%8A%A4%EB%AF%B8"] {
  top: 90%;
  right: 45%;

}


/*키라*/
.char-img.single-banner[src*="%ED%82%A4%EB%9D%BC"]{
  top: 95%;
}

/*야오링 사자무*/
.char-img.single-banner[src*="%EC%95%BC%EC%98%A4%EB%A7%81%C2%B7%EC%82%AC%EC%9E%90%EB%AC%B4"] {
  top: 90%;
}

/*코로마루*/
.char-img.single-banner[src*="%EC%BD%94%EB%A1%9C%EB%A7%88%EB%A3%A8"] {
  scale: 0.9;
}

/* 미오 */
.char-img.single-banner[src*="%EB%AF%B8%EC%98%A4"] {
  top: 65%;
}

/* 모토하 여름 */
.char-img.single-banner[src*="%EB%AA%A8%ED%86%A0%ED%95%98%C2%B7%EC%97%AC%EB%A6%84"] {
  scale: 1.13;
}

/* 토모코 여름 
.char-img.single-banner[src*="%ED%86%A0%EB%AA%A8%EC%BD%94%C2%B7%EC%97%AC%EB%A6%84"] { }*/

/* 나루미 
.char-img.single-banner[src*="%ED%86%A0%EB%AA%A8%EC%BD%94%C2%B7%EC%97%AC%EB%A6%84"] { scale: 1.1;}*/

/* 리코 매화 */
.char-img.single-banner[src*="%EB%A6%AC%EC%BD%94%C2%B7%EB%A7%A4%ED%99%94"] {
  top: 97%;
}


/* 사하라 미유·여름 */
.char-img.middle[src*="%EB%AF%B8%EC%9C%A0%C2%B7%EC%97%AC%EB%A6%84"] {
  scale: 0.75 !important;
}

/* 하루 */
.char-img.single-banner[src*="%ED%95%98%EB%A3%A8"]{
  top: 95%;
}

/* 모토하 청광*/
.char-img.single-banner[src*="%EB%AA%A8%ED%86%A0%ED%95%98%C2%B7%EC%B2%AD%EA%B4%91"] {
  top: 40%;
}

/* 마유미*/
.char-img.single-banner[src*="%EB%A7%88%EC%9C%A0%EB%AF%B8"] {
  top: 95%;
}

/* 후타바 */
.char-img.single-banner[src*="%ED%9B%84%ED%83%80%EB%B0%94"] {
  top: 60%;
  transform: translateY(-50%) scale(1.5);
}

.char-img.front[src*="P5DSN_-_Caroline_and_Justine"] {
  transform: translateY(-25%) scale(1.4);
  right: 14%;
}

.char-img.single-banner[src*="aprilfool_Chatai.webp"] {
  right: 16%;
  top: 66%;
  transform: translateY(-50%) scale(1.12);
}

@media (max-width: 768px) {
  .char-img.single-banner[src*="aprilfool_Chatai.webp"] {
    right: 4% !important;
    top: 70% !important;
    transform: translateY(-58%) scale(1.72) !important;
  }
}
