.posts-container { width: 100%; max-width: 1200px; box-sizing: border-box; margin: 0 auto; padding: 20px 20px 24px 20px; background: rgb(56, 45, 45); border-radius: 12px; overflow: hidden; transition: transform 0.2s ease; cursor: pointer; z-index: 1; margin-bottom: 24px; }

.posts-header { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }

.posts-header h2{ font-size: 18px; margin: 0; margin-left: 2px; color: #f0d6aa; }

.posts-header h2 a { color: inherit; text-decoration: none; }

.posts-header h2 a:hover { text-decoration: none; color: #f3e2c5; }


.show-more-posts-btn { background: none; border: none; color: rgb(255, 255, 255, 0.5); font-size: 12px; margin-right: 2px; cursor: pointer; padding: 0; text-decoration: none; }

.show-more-posts-btn:hover { color: rgb(255, 255, 255, 0.85); }

/* 택틱 공유 파티 이미지 */
.party-images { display: flex; gap: 32px; margin-top: 0px; position: relative; margin-bottom: 12px; }

  .character-container { position: relative; display : inline-block; width: 100px; height: 100px; }

  .character-img { width: 100px; height: 100px; border-radius: 50%; object-fit: cover; border: 2px solid #DFE1E6; transition: all 0.2s ease; box-shadow: 4px 4px 0px rgba(255, 0, 0, 0.7); }

  .character-text-circle { width: 100px; height: 100px; border-radius: 50%; background-color: #DFE1E6; display: flex; align-items: center; justify-content: center; font-size: 14px; color: #172B4D; text-align: center; word-break: keep-all; padding: 8px; box-sizing: border-box; box-shadow: 4px 4px 0px rgba(255, 0, 0, 0.7); }


  .order-img { position: absolute; top: -5px; right: -5px; width: 54px; height: 18px; z-index: 1; }

  .ritual-img { position: absolute; bottom: -5px; left: -5px; width: 45px; height: 45px; z-index: 1; filter: drop-shadow(0 0 1px rgb(0, 0, 0))
    drop-shadow(0 0 1px rgb(0, 0, 0)); }

  .character-container:hover .character-img { border-color: #bd1f1f; transform: scale(1.05); }




/* 공유된 택틱들 tactic list */
.party-images-container { gap: 10px; margin-bottom: 0px; }

.party-images-container { margin: 16px 0px 16px 0px; display: flex
; gap: 48px; align-items: center; }

.posts-list { display: flex; flex-direction: column; gap: 1rem; }

.post-item { display: grid; grid-template-columns: 1fr 1fr 80px; padding: 16px 20px; background: rgb(0, 0, 0, 0.2); border: none; border-radius: 8px; justify-content: center; align-items: center; }

.post-header{ display: flex; flex-direction: column; justify-content: center; transform: translateY(-2px); }


.post-item h3 { margin: 0 0 8px 0; color: rgb(255, 255, 255, 0.7); }


.post-item p { margin: 0.5rem 0; color: #ffffff; }

/* 제목 링크에 대한 스타일을 더 구체적으로 지정 */
.post-item a.post-title { text-decoration: none; cursor: pointer; }

.post-item a.post-title:hover { text-decoration: none; color: rgb(255, 255, 255, 0.9); }

.post-title { cursor: pointer; font-size: 16px; display: flex; align-items: center; gap: 4px; color: var(--text-color); text-decoration: none; transition: color 0.2s; }

.post-title:hover { color: var(--accent-color); }

.post-title svg { fill: rgb(255, 255, 255, 0.7); transition: transform 0.3s; }

.post-title:hover svg { transform: translateX(4px); }

.post-title svg path { transition: fill 0.2s; }

.post-title:hover svg path { fill: var(--accent-color); }

.post-comment { margin: 10px 0 0 0; padding: 8px 0px; /*background: rgba(255, 255, 255, 0.05); border-radius: 4px;*/
    font-size: 12px; color: rgba(255, 255, 255, 0.7); line-height: 1.4; max-width: 600px; user-select: text; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; cursor: text; }

.post-meta{ display: flex; flex-direction: row; align-items: center; height: 24px; gap: 8px; }

.post-author{ color: rgb(255, 255, 255, 0.7); font-size: 14px; font-weight: 400; }

.separator { height: 24px; color: rgb(255, 255, 255, 0.3); font-size: 12px; line-height: 24px; font-weight: 400; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; }

.post-date{ color: rgb(255, 255, 255, 0.5); font-size: 14px; font-weight: 400; }

.post-link{ display: none; }


.post-content{ margin-left:auto; margin-right:20px; }

/* 택틱 공유 페이지 이미지 스타일 */
.party-images-container {gap: 10px; margin-bottom: 0px;}
.party-images {gap: 6px; }
.weapon-img {height: 80px;}
.persona-images {gap : 0px;}
.character-img {width : 80px; height : 80px;}
.ritual-img {bottom: 5px;}

.post-footer{ display: flex; flex-direction: column; align-items: center; justify-content: center; }

.likes-section{ display: flex; flex-direction: column; align-items: center; justify-content: center; }

.likes-count-wrapper{ display: flex; align-items: center; justify-content: center; }

.like-button { width : 60px; height : 60px; object-fit: contain; padding: 0; border: none; cursor: pointer; transition: all 0.2s; background: none; }

.like-button img{ width : 100%; height : 100%; }

.like-button.liked{ filter: brightness(0.5); }

.pagination { margin-top: 2rem; display: flex; justify-content: center; gap: 1rem; align-items: center; }

.pagination button { font-size: 12px; padding: 0.5rem 1rem; background: #007bff; color: white; border: none; border-radius: 24px; cursor: pointer; }

.pagination button:disabled { color: rgba(255, 255, 255, 0.5); background: rgba(0, 0, 0, 0.2); cursor: not-allowed; }

#currentPage{ font-size: 13px; color: rgb(255, 255, 255, 0.8); }

small { color: #6c757d; display: block; margin-top: 0.5rem; }

.post-item.best, .tab-button[data-view="best"]{ position: relative; background: #2D2424; border: 1px solid transparent; background-clip: padding-box; }

.post-item.best::before{ content: ""; position: absolute; top: -0.5px; left: -0.5px; right: -0.5px; bottom: -0.5px; border-radius: 8px;  /* post-item의 border-radius와 동일하게 */
    z-index: -1; margin: -1px; background: linear-gradient(
    45deg,
     #b1c0ec, #c4ffff, #e4c2d3, #ba7f96, #c4ffff
    ); background-size: 100% auto; /* animation: gradient 4s linear infinite;*/ animation: none; }

@keyframes gradient { 0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media screen and (max-width: 1200px) { .posts-container{ margin-top: 20px; }
}



@media screen and (max-width: 1120px) { .top-container{ flex-direction: column; }
    .post-form{ width: 100%; margin-bottom: 0; }

    .ranking-container{ width: 100%; margin-bottom: 2rem; }

    .post-item { display: grid; grid-template-areas: 
    "header footer"
    "content content"; grid-template-columns: 1fr auto; gap: 16px; }

    .post-header { grid-area: header; }

    .post-footer { grid-area: footer; }

    .post-content { grid-area: content; margin: 0; }
}


@media screen and (max-width: 640px) { .posts-container{ display: none; }
}


