<!DOCTYPE html>
<html lang="{{ page.language | default: site.default_lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-adsense-account" content="ca-pub-5862324369257695">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5862324369257695"
  crossorigin="anonymous"></script>
  
  <!-- 기본 메타 태그 -->
  <meta name="description" content="{{ site.data.i18n[page.language].site.description }}">
  <meta name="keywords" content="{{ site.data.i18n[page.language].site.keywords }}">
  <meta name="author" content="{{ site.data.i18n[page.language].site.author }}">
  
  <!-- Open Graph 메타 태그 -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.i18n[page.language].site.title }}{% endif %}">
  <meta property="og:description" content="{{ site.data.i18n[page.language].site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/home/seo.png">
  <meta property="og:site_name" content="{{ site.data.i18n[page.language].site.title }}">
  <meta property="og:locale" content="ko_KR">
  
  <!-- Twitter 카드 메타 태그 -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.data.i18n[page.language].site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ site.data.i18n[page.language].site.description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/home/seo.png">
  
  <!-- Firebase SDK -->
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js"></script>

  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-57DTGQ5TR7"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-57DTGQ5TR7');</script>
 
  
  <!-- 버전 관리 스크립트 -->
  <script>
    document.write('<script src="{{ site.baseurl }}/assets/js/version.js?v=' + new Date().getTime() + '"><\/script>');
  </script>
  
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/assets/img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="LufelNet" />
  <link rel="manifest" href="{{ site.baseurl }}/assets/img/favicon/site.webmanifest" />
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.i18n[page.language].site.title }}{% endif %}</title>
  

  <script>
    // APP_VERSION을 사용하여 리소스 버전 관리
    const BASE_URL = '{{ site.baseurl }}';
    
    // 기본 CSS 및 JS 파일 로드
    document.write(`
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default/common.css?v=${APP_VERSION}">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default/nav.css?v=${APP_VERSION}">
      <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/default/version-update.css?v=${APP_VERSION}">
      <script src="{{ site.baseurl }}/assets/js/nav.js?v=${APP_VERSION}"><\/script>
      <script src="{{ site.baseurl }}/assets/js/top_button.js?v=${APP_VERSION}"><\/script>
    `);
    
    // 페이지별 CSS 파일 로드
    {% if page.custom_css %}
      {% for css_file in page.custom_css %}
        document.write(`<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/{{ css_file }}.css?v=${APP_VERSION}">`);
      {% endfor %}
    {% endif %}
    
    // 페이지별 JS 파일 로드
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        document.write(`<script src="{{ site.baseurl }}/assets/js/{{ js_file }}.js?v=${APP_VERSION}"><\/script>`);
      {% endfor %}
    {% endif %}
    
    // 페이지별 데이터 파일 로드
    {% if page.custom_data %}
      {% for data_file in page.custom_data %}
        document.write(`<script src="{{ site.baseurl }}/data/{{ page.language }}/{{ data_file }}?v=${APP_VERSION}"><\/script>`);
      {% endfor %}
    {% endif %}
  </script>
</head>
<body>
  <!-- 네비게이션 컨테이너 -->
  <div class="container">
    <div id="nav-container"></div>
    
    <!-- 메인 콘텐츠 -->
    {{ content }}
    
    <!-- 푸터 
    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.data.i18n[page.language].site.title }}</p>
    </footer>-->
    <button id="top-button" class="floating-top-btn">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4L4 12L5.4 13.4L11 7.8V20H13V7.8L18.6 13.4L20 12L12 4Z" fill="rgba(255, 255, 255, 0.6)"/>
      </svg>
    </button>
  </div>
</body>
</html>